üìò Introducci√≥n

En el presente notebook se avanza en adquirir conocimientos de Bases de Python, cuyo objetivo es identificar y analizar datasets potenciales para su posterior desarrollo anal√≠tico.

Se seleccionaron tres datasets de diversos rubros, lo cuales fueron obtenidos y alojados en un repositorio de GitHub, y ser√°n cargados utilizando la librer√≠a Pandas.

A lo largo del notebook se realizar√° una exploraci√≥n inicial de cada dataset y se describir√°n las variables que resulten m√°s relevantes desde una perspectiva comercial y anal√≠tica, considerando posibles casos de uso en contextos empresariales.

Analisis Exploratorio del Dataset 1:

In [1]:
import pandas as pd

In [2]:
df_beauty = pd.read_csv("../data/beauty_sales_unilever.csv")
df_beauty.head()

,date,brand,product_type,skin_type,hair_type,country,sales_channel,units_sold,unit_price_usd,cost_usd,discount_pct,marketing_spend_usd,on_promotion,customer_rating,returns_units,stock_level,revenue_usd,profit_usd
0,2022-01-01,TRESemm√©,Body Wash,Sensitive,Wavy,Mexico,Wholesale,753,14.73,1.32,11.20,3181.13,0,3.66,61,17220,11091.69,6916.60
1,2022-01-02,Rexona,Body Wash,Oily,Straight,Mexico,Supermarket,4571,2.80,5.14,20.72,3691.47,0,4.56,125,15399,12798.80,-14387.61
2,2022-01-03,Sedal,Hair Mask,Normal,Wavy,Argentina,Wholesale,1426,9.75,8.63,6.55,5723.17,0,3.99,111,23384,13903.50,-4126.05
3,2022-01-04,Sedal,Deodorant,Sensitive,Curly,Mexico,Supermarket,3479,17.66,6.27,15.07,859.13,1,3.54,148,24040,61439.14,38766.68
4,2022-01-05,TRESemm√©,Shampoo,Dry,Coily,Chile,Pharmacy,5630,5.29,8.72,9.72,4741.23,0,3.41,91,7039,29782.70,-24052.13

In [3]:
df_beauty.shape

(3200, 18)

In [4]:
df_beauty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 3200 non-null   object
 1   brand                3200 non-null   object
 2   product_type         3200 non-null   object
 3   skin_type            3200 non-null   object
 4   hair_type            3200 non-null   object
 5   country              3200 non-null   object
 6   sales_channel        3200 non-null   object
 7   units_sold           3200 non-null   int64
 8   unit_price_usd       3200 non-null   float64
 9   cost_usd             3200 non-null   float64
 10  discount_pct         3200 non-null   float64
 11  marketing_spend_usd  3200 non-null   float64
 12  on_promotion         3200 non-null   int64
 13  customer_rating      3200 non-null   float64
 14  returns_units        3200 non-null   int64
 15  stock_level          3200 non-null   int64
 16  revenue_usd          3200 non-null   float64
 17  profit_usd           3200 non-null   float64
dtypes: float64(7), int64(4), object(7)
memory usage: 450.1+ KB

üíÑ Contexto del Dataset ‚Äì Beauty Sales (Enfoque Unilever)

El dataset contiene informaci√≥n sobre ventas de productos de cuidado personal y belleza, incluyendo variables relacionadas con caracter√≠sticas del producto, comportamiento del consumidor, estrategias comerciales y desempe√±o financiero. Este dataset es muy relevante para explorar empresas de consumo masivo, ya que posibilita evaluar el impacto de las estrategias de pricing, promociones, marketing y gesti√≥n de stock sobre los resultados comerciales, as√≠ como identificar oportunidades de optimizaci√≥n y crecimiento del negocio.

üîç Variables Relevantes para el An√°lisis Comercial y Anal√≠tico

-date: an√°lisis temporales, identificar tendencias de ventas y estacionalidad.

-brand: comparar el desempe√±o comercial entre distintas marcas del portafolio.

-product_type: analizar el comportamiento de diferentes categor√≠as de productos de belleza.

-skin_type y hair_type: clave para segmentaci√≥n del mercado seg√∫n las necesidades del consumidor.

-country: an√°lisis geogr√°fico y comparaci√≥n de resultados entre mercados.

-sales_channel: evaluar la efectividad de los distintos canales de venta.

-units_sold: medici√≥n del volumen de ventas.

-unit_price_usd: an√°lisis de pricing y posicionamiento de producto.

-discount_pct y on_promotion: analisis del impacto de las promociones sobre las ventas y la rentabilidad.

-marketing_spend_usd: evaluar la eficiencia del gasto en marketing.

-revenue_usd y profit_usd: an√°lisis financiero y de rentabilidad.

-customer_rating: aporta informaci√≥n sobre la percepci√≥n del cliente y la calidad del producto.

-returns_units: an√°lisis de devoluciones y posibles problemas de satisfacci√≥n o calidad.

-stock_level: gesti√≥n de inventarios y planificaci√≥n de la demanda.

En conjunto, estas variables permiten desarrollar an√°lisis orientados a la optimizaci√≥n comercial, rentabilidad, experiencia del cliente y la toma de decisiones estrat√©gicas en el sector de belleza y cuidado personal.

Analisis Exploratorio del Dataset 2:

In [5]:
df_pharma = pd.read_csv("../data/pharma_data_retail.csv")
df_pharma.head()

,Distributor,Customer Name,City,Country,Latitude,Longitude,Channel,Sub-channel,Product Name,Product Class,Quantity,Price,Sales,Month,Year,Name of Sales Rep,Manager,Sales Team
0,Gottlieb-Cruickshank,"Hahn, Rutherford and Gislason Pharmaceutical L...",≈Åaziska G√≥rne,Poland,50.1500,18.8333,Hospital,Private,Menogine,Antiseptics,4.0,742,2968.0,January,2018,Steve Pepple,Tracy Banks,Bravo
1,Smith Inc,Schmitt LLC Pharm,Nysa,Poland,50.4738,17.3344,Pharmacy,Retail,Ergomethate,Mood Stabilizers,1.0,604,604.0,January,2018,Mary Gerrard,Britanny Bold,Delta
2,Prohaska-Kuhic,"Spinka, Schowalter and Conn Pharmaceutical Lim...",Bi≈Çgoraj,Poland,50.5500,22.7333,Pharmacy,Institution,Agalsiline,Mood Stabilizers,60.0,64,3840.0,January,2018,Thompson Crawford,James Goodwill,Alfa
3,Gottlieb-Cruickshank,"Denesik, Walter and Beatty Pharma Plc",Ostr√≥w Mazowiecka,Poland,52.8000,21.9000,Pharmacy,Institution,Atrabicin Alkerotec,Antiseptics,4.0,249,996.0,January,2018,Abigail Thompson,Tracy Banks,Bravo
4,Smith Inc,Lesch PLC Pharmaceutical Ltd,G≈Çuszyca,Poland,50.6874,16.3717,Pharmacy,Retail,Zonixamine Immulinum,Analgesics,432.0,298,128736.0,January,2018,Thompson Crawford,James Goodwill,Alfa

In [6]:
df_pharma.shape

(2500, 18)

In [7]:
df_pharma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Distributor        2500 non-null   object
 1   Customer Name      2500 non-null   object
 2   City               2500 non-null   object
 3   Country            2500 non-null   object
 4   Latitude           2500 non-null   float64
 5   Longitude          2500 non-null   float64
 6   Channel            2500 non-null   object
 7   Sub-channel        2500 non-null   object
 8   Product Name       2500 non-null   object
 9   Product Class      2500 non-null   object
 10  Quantity           2500 non-null   float64
 11  Price              2500 non-null   int64
 12  Sales              2500 non-null   float64
 13  Month              2500 non-null   object
 14  Year               2500 non-null   int64
 15  Name of Sales Rep  2500 non-null   object
 16  Manager            2500 non-null   object
 17  Sales Team         2500 non-null   object
dtypes: float64(4), int64(2), object(12)
memory usage: 351.7+ KB

üì¶ Contexto del Dataset ‚Äì Ventas y Distribuci√≥n Comercial farmac√©utica 

El dataset contiene informaci√≥n vinculada a ventas y distribuci√≥n comercial, incluyendo datos de clientes, productos, canales de venta, equipos comerciales y ubicaci√≥n geogr√°fica. Este dataset resulta especialmente √∫til para analizar empresas con redes de distribuci√≥n amplias, ya que posibilita evaluar la eficiencia de los canales de venta, el rendimiento del equipo comercial, la performance de productos y el comportamiento de los clientes en distintos mercados y regiones.

üîç Variables Relevantes para el An√°lisis

-Distributor: evaluar desempe√±o de los distintos distribuidores y su aporte a las ventas totales.

-Customer Name: estudiar el comportamiento de compra de los clientes y su contribuci√≥n al negocio.

-City y Country: exploraciones geogr√°ficas y comparaciones regionales.

-Latitude y Longitude: realizar an√°lisis espaciales y visualizaciones geogr√°ficas de las ventas.

-Channel y Sub-channel: evaluar la efectividad de los distintos canales de comercializaci√≥n.

-Product Name y Product Class: analizar el desempe√±o de productos y categor√≠as.

-Quantity: volumen de unidades vendidas.

-Price: an√°lisis de precios y estrategias comerciales.

-Sales: evaluar el ingreso generado.

-Month y Year: posibilitan an√°lisis temporales, tendencias y estacionalidad.

-Name of Sales Rep, Manager y Sales Team: permiten evaluar el rendimiento del equipo comercial y la estructura organizacional de ventas.

En general, estas variables permiten desarrollar an√°lisis orientados a la optimizaci√≥n de la fuerza de ventas, la eficiencia de los canales de distribuci√≥n, la gesti√≥n de clientes y la toma de decisiones estrat√©gicas en el √°rea comercial.

Analisis Exploratorio del Dataset 3:

In [8]:
df_renewable_energy = pd.read_csv("../data/renewable_energy.csv")
df_renewable_energy.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Technology,Energy_Type,Unit,Source,CTS_Name,...,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022,F2023
0,1,Advanced Economies,NaN,AETMP,Electricity Generation,Bioenergy,Total Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,...,250919.577,263542.750,274561.810,281658.673,286653.446,292379.608,294178.354,306827.472,297837.826,NaN
1,2,Advanced Economies,NaN,AETMP,Electricity Installed Capacity,Bioenergy,Total Renewable,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,Electricity Installed Capacity,...,48343.151,50522.206,52940.018,55311.101,58206.997,59946.258,60789.850,59564.440,60934.763,62146.697
2,3,Advanced Economies,NaN,AETMP,Electricity Generation,Fossil fuels,Total Non-Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,...,5957377.370,5895105.081,5863974.474,5730416.734,5785386.448,5546081.830,5240196.496,5401739.239,5387109.662,NaN
3,4,Advanced Economies,NaN,AETMP,Electricity Installed Capacity,Fossil fuels,Total Non-Renewable,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,Electricity Installed Capacity,...,1542498.011,1516740.809,1503912.875,1501356.722,1512610.754,1485733.713,1477595.925,1476335.267,1470127.235,1464243.522
4,5,Advanced Economies,NaN,AETMP,Electricity Generation,Hydropower (excl. Pumped Storage),Total Renewable,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,...,1250083.974,1229010.224,1243652.987,1271436.807,1270052.391,1244244.740,1276615.396,1236759.800,1188216.136,NaN

In [9]:
df_renewable_energy.shape

(2062, 36)

In [10]:
df_renewable_energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2062 entries, 0 to 2061
Data columns (total 36 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ObjectId             2062 non-null   int64
 1   Country              2062 non-null   object
 2   ISO2                 1790 non-null   object
 3   ISO3                 2062 non-null   object
 4   Indicator            2062 non-null   object
 5   Technology           2062 non-null   object
 6   Energy_Type          2062 non-null   object
 7   Unit                 2062 non-null   object
 8   Source               2062 non-null   object
 9   CTS_Name             2062 non-null   object
 10  CTS_Code             2062 non-null   object
 11  CTS_Full_Descriptor  2062 non-null   object
 12  F2000                1414 non-null   float64
 13  F2001                1444 non-null   float64
 14  F2002                1468 non-null   float64
 15  F2003                1478 non-null   float64
 16  F2004                1517 non-null   float64
 17  F2005                1556 non-null   float64
 18  F2006                1579 non-null   float64
 19  F2007                1623 non-null   float64
 20  F2008                1659 non-null   float64
 21  F2009                1705 non-null   float64
 22  F2010                1754 non-null   float64
 23  F2011                1796 non-null   float64
 24  F2012                1842 non-null   float64
 25  F2013                1898 non-null   float64
 26  F2014                1937 non-null   float64
 27  F2015                1960 non-null   float64
 28  F2016                1988 non-null   float64
 29  F2017                2002 non-null   float64
 30  F2018                2011 non-null   float64
 31  F2019                2024 non-null   float64
 32  F2020                2039 non-null   float64
 33  F2021                2040 non-null   float64
 34  F2022                2038 non-null   float64
 35  F2023                1027 non-null   float64
dtypes: float64(24), int64(1), object(11)
memory usage: 580.1+ KB

‚ö° Contexto del Dataset ‚Äì Indicadores Energ√©ticos y Tecnol√≥gicos

El presente dataset contiene informaci√≥n sobre indicadores energ√©ticos a nivel pa√≠s, desagregados por tipo de energ√≠a, tecnolog√≠a e indicador, con datos hist√≥ricos que abarcan el per√≠odo comprendido entre los a√±os 2000 y 2023.Los registros permiten analizar la evoluci√≥n temporal de distintos indicadores energ√©ticos, facilitando la comparaci√≥n entre pa√≠ses y tecnolog√≠as, as√≠ como el estudio de tendencias de largo plazo en la producci√≥n, consumo o adopci√≥n de diferentes fuentes de energ√≠a, permitiendo estimar el desempe√±o energ√©tico de los pa√≠ses y su transici√≥n hacia tecnolog√≠as m√°s eficientes y sustentables.

üîç Variables Relevantes para el An√°lisis

-Country: permite realizar comparaciones entre pa√≠ses y analizar diferencias en desempe√±o energ√©tico.

-ISO2 y ISO3: facilitan la estandarizaci√≥n de pa√≠ses para cruces con otras bases de datos.

-Indicator: tipo de m√©trica energ√©tica analizada.

-Technology: permite evaluar el comportamiento y evoluci√≥n de distintas tecnolog√≠as energ√©ticas.

-Energy_Type: analizar diferencias entre fuentes de energ√≠a (renovables y no renovables).

-Unit: informaci√≥n sobre la unidad de medida de los indicadores.

-Source: permite identificar el origen de los datos y su confiabilidad.

-CTS_Name, CTS_Code y CTS_Full_Descriptor: aportan contexto t√©cnico y descriptivo a los indicadores, facilitando su interpretaci√≥n.

-F2000 ‚Äì F2023: conjunto de variables que representan la evoluci√≥n hist√≥rica anual de los indicadores, fundamentales para el an√°lisis de tendencias, crecimiento y cambios estructurales a lo largo del tiempo.

Estas variables permiten desarrollar an√°lisis orientados a la evaluaci√≥n de tendencias energ√©ticas, la comparaci√≥n internacional, la planificaci√≥n estrat√©gica y el apoyo a la toma de decisiones en √°mbitos empresariales y gubernamentales.